.ext-el-mask {
	background-color: white;
}
.loginForm {
	padding: 53px 44px;
}
#loginLogoImage {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 44px;
}
#loginText {
	margin-left: 44px;
	width: 196px;
	height: 196px;
	background-color:whitesmoke;
	padding: 5px;
	font-size: 12px;
	overflow: auto;
	border-radius: 5px;
	display: none;
}
.loginTextFooter {
	color: dimgray;
	font-size: 13px;
}
.loginTextFooter .x-window-header {
	padding-top: 0;
}
.loginTextFooter.transparent {
	background-color: rgba(255, 255, 255, 0.9);
}
.fr-btn-default, .fr-btn-link {
	font-size:13px;
}
.fr-btn-link:hover {
	background:none;
	border-color: transparent;
	text-decoration: underline;
}
.linksRow {
	padding-top:10px;
}
.loginFormField {
	font-size:17px;
	padding-left: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 38px;
	line-height: 38px;
	box-shadow: none;
	border-radius:0;
}
textarea.x-form-field {
	padding-left: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow: none;
}
.loginQRCodeWrap {
	margin-top:10px;
	display:inline-block;
	background-image:url(../images/loading.gif);
	background-position: center center;
	background-repeat:no-repeat;
	width:210px;height:210px;
}
.forgotPass {
	text-align: right;
	padding-top: 15px;
}
.lang-select {
	min-width: initial;
	color: gray;
	margin-left: 10px;
}
.login.transparent {
	background-color:rgba(255, 255, 255, 0.9);
}
.login.transparent .x-panel-body, .login.transparent .x-form-text {
	background-color:transparent;
}
.login.transparent #loginText {
	background-color: rgba(255, 255, 255, 0.3);
}