@import url("/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

html{
  height: 100%;
  width:100%;
}

body, input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  line-height: 2em;
  color: white;
  font-weight: 500;
}

body{
  /* 
  This removes scrollbars
  See https://stackoverflow.com/a/20310218
  */
  position:absolute; top:0; bottom:0; right:0; left:0; 
  display:flex;
  flex-direction: column;
  background-image: url("../img/04.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

.giant{
  font-size: 50px;
}

.large{
  font-size: 40px;
}

.inline-div {
  display: inline-flex;
}

.inline-div :first-child {
  margin-right:10px;
}

#passions {
  font-weight: 800;
}

#social-div {
  margin-left: -45px;
}

.middle-circle {
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}

/* 
  The following takes care of the icons
  for stuff like linkedin,github etc...
  Directly from html5up.net free template
*/
ul.default {
  list-style: disc;
}


  ul.social li {
    position: relative;
    display: inline-block;
    margin: 0.25em;
    top: 0;
  }

    ul.social li a {
      -moz-transition: top .2s ease-in-out;
      -webkit-transition: top .2s ease-in-out;
      -ms-transition: top .2s ease-in-out;
      transition: top .2s ease-in-out;
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 6px;
      top: 0;
      color:black;
      position: relative;
    }

      ul.social li a:before {
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        background-color: #444;
        border-radius: 6px;
        box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
        color: white;
        display: block;
        font-size: 30px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        outline: 0;
        overflow: hidden;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
        width: 48px;
      }

      ul.social li a.fa-linkedin {
        background-color: #FAFAFA;
      }

      ul.social li a.fa-github {
        background-color: #FAFAFA;
      }

      ul.social li a.fa-soundcloud {
        background-color: #FAFAFA;
      }

      ul.social li a:hover {
        top: -5px;
      }

/* Icons */

.icon {
  text-decoration: none;
}

  .icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon > .label {
    display: none;
  }

  .icon.featured {
    color: #ff6a00;
    display: block;
    margin: 0 0 1.5em 0;
    cursor: default;
  }

    .icon.featured:before {
      font-size: 6em;
    }

.grid .left {
  width: 223px;
  float: left;
  min-height: 100vh;
  border-right: 1px solid #dbdbdb;
}
.grid .right {
/*  width: 80%;
  float: right;*/
}

.content {
  margin: 30px auto;
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.top-tabs .tab {
  float: left;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  width: 25.33%;
  padding: 7px 20px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  transition: opacity 0.2s linear;
  transform-origin: 0% 0%;
}
.top-tabs .tab:first-child {
  margin-left: 0;
}
.top-tabs .tab:hover {
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.top-tabs .tab.active {
  background: white;
  position: relative;
  opacity: 1;
  box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  z-index: 1;
  border-left: 0;
  border-right: 0;
}

.tab-content {
/*  min-height: 70vh;
*/  box-shadow: 0px -2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.tab-content .list-inline {
  border-bottom: 1px solid #dbdbdb;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}
.tab-content .list-inline li {
  cursor: pointer;
  display: inline-block;
  padding: 9px 20px;
}
.tab-content .list-inline li {
  padding: 10px 5px;
  font-weight: 500;
  color: currentcolor;
  text-decoration: none;
}
.tab-content .list-inline li:hover {
  border-bottom: 3px solid white;
  text-decoration: none;
}
.tab-content .list-inline li.active {
  border-bottom: 3px solid #03A9F4;
  text-decoration: none;
}

#result {
  overflow: auto;
  max-height: 300px;
  margin-top: 10px;
}

/* 
  This is mobile optimizations
*/
@media only screen and (max-width:600px){
  .large{
    font-size: 20px;
  }

  body, input, textarea, select {
    line-height: 1.2em;
  }

.inline-div :first-child {
  margin-right:5px;
}

}